/* global styles*/
a { cursor: pointer; }

body, html {
  height: 100%;
  margin: 0;
}

.app-container {
    min-height: 100vh;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.disable-page-link{
  cursor: not-allowed;
  color: gray !important; 
  pointer-events: none;
  opacity: 0.65;
  box-shadow: none;
}

.invalid-field {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}