.background {
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-home{
    height: calc(100vh - 60px)
}

.welcome-title{
  color: #194d88;
  
  text-shadow: #e0e0e0 1px 1px 0;
}